/* imports */
@import "compass/css3";
@import "compass/utilities";


header#branding {
    padding: 50px;

    h1 {
        font-size: 30px;
        a { 
			color: red; text-decoration: none;
		}
    }
    h2 { font-size: 20px; }
    nav { padding: 10px; }
}

article {
	background-color: #ccc;
	margin: 1px 30px;
	padding: 10px;
	
	header h1 {
		font-size: 18px;
		
		a {
			text-decoration: none;
			color: red;
		}
	}
	
	.entry-content {
		p {
			margin-top: 3px;
			margin-bottom: 12px;
			color: #555555;
		}
	}
}

footer#colophon {
    min-height: 100px;
    background-color: #efefef;
    margin-top: 30px;
    padding: 30px;
    border-top: 1px dashed #dddddd;
}